<div class='work-post-contents'>
  <%= render "shared/second_header" %>
  <div class='work-post-main'>
    <h2 class='work-post-title'>作品投稿</h2>
    <%= form_with model: @work, local: true do |f| %>
      <%# エラーメッセージが出力されるようにする %>
      <%= render "shared/error_messages", model: f.object %>
      <%# /エラーメッセージが出力されるようにする %>

      <%# 作品完成画像 %>
      <div class='comp-image-upload'>
        <div class='weight-bold-text'>
          作品完成画像
          <span class='indispensable'>必須</span>
        </div>
        <%= f.file_field :image, class:'comp-img', id:'comp-image' %>
      </div>
      <%# /作品完成画像 %>
      <%# タイトルと使用素材 %>
      <div class='new-title'>
        <div class='weight-bold-text'>
          タイトル
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_field :title, class:'work-text', id:'work-title', placeholder:'作品のタイトルを入力してください' %>
      </div>
      <div class='new-material'>
        <div class='weight-bold-text'>
          使用した材料
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_area :material, class:'work-text', id:'work-material', placeholder:'使用した材料を入力してください。使用した個数も入力するとわかりやすいです。', rows:'7' %>
      </div>
      <%# /タイトルと使用素材 %>
      <%# 作品の説明 %>
      <div class='new-theme'>
        <div class='weight-bold-text'>
          テーマ
          <span class='indispensable'>必須</span>
        </div>
        <%= f.collection_select(:theme_id, Theme.all, :id, :name, {}, {class:'select-box', id:'work-theme'}) %>
      </div>
      <div class='new-days'>
        <div class='weight-bold-text'>
          制作日数
          <span class='indispensable'>必須</span>
        </div>
        <%= f.collection_select(:days_id, Day.all, :id, :name, {}, {class:'select-box', id:'work-days'}) %>
      </div>
      <div class='new-grade'>
        <div class='weight-bold-text'>
          お子さまの学年
          <span class='indispensable'>必須</span>
        </div>
        <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:'select-box', id:'work-grade'}) %>
      </div>
      <div class='new-info'>
        <div class='weight-bold-text'>
          作品の説明
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_area :explanation, class:'work-text', id:'work-explanation', placeholder:'作品の説明（作った手順1.〜〜〜 2.〜〜〜・・・、工夫した点、大変だったこと など）', rows:'10' %>
      </div>
      <%# /作品の説明 %>
      <%# 下部ボタン %>
      <div class='post-btn-contents'>
        <%= f.submit '投稿する', class:'submit-btn' %>
        <%= link_to 'もどる', root_path, class:'back-btn' %>
      </div>
      <%# /下部ボタン %>
    <% end %>
  </div>
  <%= render "shared/footer" %>
</div>