<%= render "shared/second_header" %>
<div class='work-show'>
  <h2 class='work-show-title'><%= @work.user.username %>さんの投稿</h2>
  <div class='show-contents'>
    <h3 class='title'>
      <%= @work.title %>
    </h3>
    <div class='image'>
      <%= image_tag @work.image, class:'show-image' %>
    </div>
    <div class='show-box'>
      <table class='show-table'>
        <tbody>
          <tr>
            <th class='detail-work'>テーマ</th>
            <td class='detail-value'><%= @work.theme.name %></td>
          </tr>
          <tr>
            <th class='detail-work'>制作日数</th>
            <td class='detail-value'><%= @work.product_day.name %></td>
          </tr>
          <tr>
            <th class='detail-work'>お子さまの学年</th>
            <td class='detail-value'><%= @work.grade.name %></td>
          </tr>
          <tr>
            <th class='detail-work'>いいね</th>
            <td class='detail-value'><%= image_tag "star", class: 'like-star' %><%= "◯" %>件</td>
          </tr>
          <tr>
            <th class='detail-work'>使用した材料</th>
            <td class='detail-value'><%= safe_join(@work.material.split("\n"), tag(:br)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='show-info'>
      <h3 class='show-info-title'>
        作品の説明
      </h3>
      <div class='show-info-value'>
        <%= safe_join(@work.explanation.split("\n"), tag(:br)) %>
      </div>
    </div>
  </div>
  <div class='show-comments'>
    <h3 class='work-comment-title'>
      コメント
    </h3>
    <div class='comment-lists' id='comments'>
      <% @comments.reverse_each do |comment| %>
        <div class='comment-user'>
          <%= comment.user.username %> さんからのコメント
        </div>
        <div class='comment-text'>
          <%= safe_join(comment.text.split("\n"), tag(:br)) %>
        </div>
      <% end %>
    </div>
    <div class='post-comment'>
      <%= form_with model: [@work, @comment] do |f| %>
      
        <%= render "shared/error_messages", model: f.object %>

        <div class='work-comment-text'>
          <%= f.text_area :text, class:'work-comment', id:'work-comment', placeholder:'質問や感想など入力してください' %>
        </div>
        <div class='submit'>
          <%= f.submit 'コメントする', class:'comment-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>