<header class='top-header'>
  <div class='header-contents'>
    <%= link_to  "/" do %>
      <div class='top-logo'>
        <%= image_tag "logo-icon", class:'logo-icon' %>
        <div class='logo-title'>
          <h1 class='logo-main-title'>
            Kids Lab.
          </h1>
          <p class='logo-sub-title'>
            自由研究共有サイト
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <ul class='lists'>
    <%# <li><%= link_to 'ユーザーネーム', "#", class:'user-name' </li> %>
    <%# <li><%= link_to 'ログアウト', "#", method::delete, class: 'logout' </li> %>
    <li><%= link_to 'ログイン', "#", class:'login' %></li>/
    <li><%= link_to '新規登録', "#", class:'sign-up' %></li>
  </ul>
</header>